{% extends 'core/index.html' %}
{% load i18n %}
{% load static %}

{% block slider %}
{% endblock %}
{% block nav %}
    {% with 'reset_password' as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block profile %}
{% endblock %}
{% block contact %}
{% endblock %}

{% block content %}
    <div id="about" class="page-alternate">
        <form method="post">{% csrf_token %}
            <div class="container">
                <h1>{% trans 'Reset password' %}</h1>
                <p>{% trans 'Please enter your new password.' %}</p>
                <hr>

                <label for="psw"><b>{% trans 'Password' %}</b></label>
                <input type="password" placeholder="{% trans 'Enter Password' %}" name="psw" required>

                <label for="psw-r"><b>{% trans 'Repeat Password' %}</b></label>
                <input type="password" placeholder="{% trans 'Repeat Password' %}" name="psw_r" required>

                <div class="clearfix">
                    <button onclick="location.href='/'" type="button" class="button button-small">{% trans 'Back' %}</button>
                    <input type="submit" class="button button-small" value="{% trans 'Reset password' %}">
                </div>
            </div>
        </form>
    </div>

{% endblock %}