{% extends 'core/index.html' %}
{% load i18n %}
{% load static %}

{% block slider %}
{% endblock %}
{% block nav %}
    {% with 'login' as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block profile %}
{% endblock %}
{% block contact %}
{% endblock %}

{% block content %}
    <div id="about" class="page-alternate">
        <form method="post">{% csrf_token %}
            <div class="container">
                <h1>{% trans 'Send verification code' %}</h1>
                <p>{% trans 'Please fill in this form.' %}</p>
                <hr>

                <label for="email"><b>{% trans 'Email' %}</b></label>
                <input type="text" placeholder="{% trans 'Enter Email' %}" name="email" required>

                <div class="clearfix">
                    <button onclick="location.href='/'" type="button" class="button button-small">{% trans 'Back' %}</button>
                    <input type="submit" class="button button-small" value="{% trans 'Send' %}">
                </div>

            </div>
        </form>
    </div>

{% endblock %}