{% extends 'core/index.html' %}
{% load static %}
{% load i18n %}

{% block slider %}
{% endblock %}
{% block nav %}
    {% with 'register' as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block profile %}
{% endblock %}
{% block contact %}
{% endblock %}

{% block content %}
    <div id="about" class="page-alternate">

        <div class="container">
            <h1>{% trans 'Sign Up' %}</h1>
            <p>{% trans 'Please fill in this form to create an account.' %}</p>
            <hr>
            <form method="post" action="/auth/register">{% csrf_token %}
                <label for="email"><b>{% trans 'Email' %}</b></label>
                <input type="text" placeholder="{% trans 'Enter Email' %}" name="email" required>

                <label for="first_name"><b>{% trans 'First name' %}</b></label>
                <input type="text" placeholder="{% trans 'First name' %}" name="first_name" required>

                <label for="last_name"><b>{% trans 'Last name' %}</b></label>
                <input type="text" placeholder="{% trans 'Last name' %}" name="last_name" required>

                <label for="city"><b>{% trans 'City' %}</b></label>
                <input type="text" placeholder="{% trans 'City' %}" name="city" required>

                <label for="psw"><b>{% trans 'Password' %}</b></label>
                <input type="password" placeholder="{% trans 'Enter Password' %}" name="psw" required>

                <label for="psw-repeat"><b>{% trans 'Repeat Password' %}</b></label>
                <input type="password" placeholder="{% trans 'Repeat Password' %}" name="psw-repeat" required>

                <label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> {% trans 'Remember me' %}
                </label>

                <p>{% trans 'By creating an account you agree to our' %} <a href="#" style="color:dodgerblue">{% trans 'Terms & Privacy' %}</a>.</p>

                <div class="clearfix">
                    <button onclick="location.href='/'" type="button" class="button button-small">{% trans 'Back' %}</button>
                    <input type='submit' class="button button-small" value="{% trans 'Sign up' %}">
                </div>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                {% if status %}
                    <p class="success">{% trans 'Success' %}</p>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}