{% extends 'core/index.html' %}
{% load i18n %}
{% load static %}

{% block slider %}
{% endblock %}
{% block nav %}
    {% with 'competition' as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block content %}
{% endblock %}
{% block contact %}
{% endblock %}

{% block profile %}
    <div id="about" class="page-alternate">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">{{ competition.name }}</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span4 profile">
                    <div class="image-wrap">
                        <img src="{{ competition.logo.url }}" alt="John Doe">
                    </div>
                </div>

                <div class="span4 profile">
                    <label class="profile-description">{% trans 'Region:' %} {{ competition.region }}</label>
                    <label class="profile-description">{% trans 'Members count:' %} {{ members_count }}</label>
                    <label class="profile-description">{% trans 'Teams count:' %} {{ teams_count }}</label>
                    <label class="profile-description">{% trans 'Started at:' %} {{ competition.started_at }}</label>

                    <label id="curr-competition-id" style="visibility: hidden;">{{ competition.pk }}</label>
                    {% if can_signup %}
                        {% if can_signup.team == 1 %}
                            <a id="signup-team-competition" href="/core/competition/{{ competition.pk }}/signup/team/1/0"
                               class="button button-small"
                               style="margin-bottom: 10px; margin-top: 10px">{% trans 'Register team' %}</a>
                        {% elif can_signup.team == -1 %}
                            <form method="post" action="/core/competition/{{ competition.pk }}/signout/team">
                                {% csrf_token %}
                                <input id="signout-team-competition" type="submit"
                                       class="button button-small" value="{% trans 'Unregister team' %}"/>
                            </form>
                        {% endif %}
                        {% if can_signup.user == 1 %}
                            <a id="signup-user-competition" href="/core/competition/{{ competition.pk }}/signup/single/1/0"
                               class="button button-small">{% trans 'Register as single' %}</a>
                        {% elif can_signup.user == -1 %}
                            <form method="post" action="/core/competition/{{ competition.pk }}/signout/single">
                                {% csrf_token %}
                                <input id="signout-user-competition" type="submit"
                                       class="button button-small" value="{% trans 'Unregister as single' %}"/>
                            </form>

                        {% endif %}
                    {% endif %}
                    {% if user.is_authenticated and is_registed %}
                        <a href="/core/download/badge/{{ user.pk }}/{{ competition.pk }}" class="button button-small"
                           style="padding-top: 4px; padding-bottom: 4px;">{% trans 'Download badge' %}</a>
                    {% endif %}
                    {% if is_manager %}
                        <a href="/core/download/predictions/{{ competition.pk }}" class="button button-small"
                           style="padding-top: 4px; padding-bottom: 4px; margin-left: 0; margin-top: 17px">{% trans 'Download predictions' %}</a>
                    {% endif %}
                </div>

                <div class="span4 profile">

                    <h3 class="spec">{% trans 'Description' %}</h3>

                    <div class="info-block">
                        <div class="info-text competition-description">
                            <p>{{ competition.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span4 profile distances-competition">
                    <h2>{% trans 'Distances' %}</h2>
                    {% if distances_second %} <h3> {% trans 'Day 1' %}</h3> {% endif %}
                    <ul>
                        {% for distance in distances %}

                            <li style="border-bottom: 1px solid #3e3d41; margin-bottom: 20px;">
                                <h4 style="margin: 0;"><b>{% trans 'Distance' %} №{{ forloop.counter0|add:1 }}</b></h4>
                                <label for="id-length-{{ forloop.counter0 }}">{% trans 'Distance length' %}</label>
                                <input type="text" id="id-length-{{ forloop.counter0 }}" value="{{ distance.length }}"
                                       disabled>
                                <input hidden name="distance_id_{{ forloop.counter0 }}" value="{{ distance.pk }}">
                                <label for="id-type-{{ forloop.counter0 }}">{% trans 'Distance type' %}</label>
                                <select id="id-type-{{ forloop.counter0 }}" disabled>
                                    {% for type in types %}
                                        <option value="{{ type.0 }}"
                                                {% if type.0 == distance.type %} selected {% endif %}
                                        >{{ type.1 }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% if distances_second %}
                <div class="row">
                <div class="span4 profile distances-competition">
                    {% if distances_second %} <h3> {% trans 'Day 2' %}</h3> {% endif %}
                    <ul>
                        {% for distance in distances_second %}

                            <li style="border-bottom: 1px solid #3e3d41; margin-bottom: 20px;">
                                <h4 style="margin: 0;"><b>{% trans 'Distance' %} №{{ forloop.counter0|add:1 }}</b></h4>
                                <label for="id-length-{{ forloop.counter0 }}">{% trans 'Distance length' %}</label>
                                <input type="text" id="id-length-{{ forloop.counter0 }}" value="{{ distance.length }}"
                                       disabled>
                                <input hidden name="distance_id_{{ forloop.counter0 }}" value="{{ distance.pk }}">
                                <label for="id-type-{{ forloop.counter0 }}">{% trans 'Distance type' %}</label>
                                <select id="id-type-{{ forloop.counter0 }}" disabled>
                                    {% for type in types %}
                                        <option value="{{ type.0 }}"
                                                {% if type.0 == distance.type %} selected {% endif %}
                                        >{{ type.1 }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        </div>
    </div>
{% endblock %}