{% extends 'core/index.html' %}
{% load i18n %}
{% load static %}

{% block slider %}
{% endblock %}
{% block nav %}
    {% with 'create_competition' as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block profile %}
{% endblock %}
{% block contact %}
{% endblock %}

{% block content %}
    <div id="about" class="page-alternate">
    <div class="container">
        <h1 class="title">{% trans 'Create competition' %}</h1>
        <p class="title-description">{% trans 'Please fill this form to create a competition' %}</p>

        <div class="row">

            <form method="post" action="/core/competition/create" enctype="multipart/form-data">{% csrf_token %}
                <div class="span4 profile">
                    <label for="id-name"><b>{% trans 'Name' %}</b></label>
                    <input type="text" id="id-name" placeholder="{% trans 'Enter competition title' %}" name="name" required>

                    <label for="started-at"><b>{% trans 'Started at' %}</b></label>
                    <input type="date" id="started-at" name="started_at" required>

                    <label for="logo"><b>{% trans 'Logo' %}</b></label>
                    <input type="file" name="logo" required class="logo-input">

                    {% for field in widget %}
                        <label for="{{ field.name }}"><b>{{ field.label }}</b></label>
                        {{ field }}
                    {% endfor %}

                    <label for="description"><b>{% trans 'Description' %}</b></label>
                    <textarea class="textarea-team" id="description" name="description" required></textarea>

                    <div class="clearfix">
                        <button onclick="location.href='/'" type="button" class="button button-small">{% trans 'Back' %}</button>
                        <input type='submit' class="button button-small" value="{% trans 'Continue' %}">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

