{% extends 'core/index.html' %}
{% load static %}

{% block slider %}
{% endblock %}
{% block nav %}
    {% with 'create_competition' as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block profile %}
{% endblock %}
{% block contact %}
{% endblock %}

{% block content %}
    <div id="about" class="page-alternate">
    <div class="container">
        <!-- Title Page -->
        {#            <div class="row">#}
        {#                <div class="span12">#}
        {#                    <div class="title-page">#}
        <h1 class="title">Create competition</h1>
        <p class="title-description">Please fill this form to create a competition</p>
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        <!-- End Title Page -->

        <!-- People -->
        <div class="row">

            <form method="post" action="/core/competition/create" enctype="multipart/form-data">{% csrf_token %}
                <!-- Start Profile -->
                <div class="span4 profile">
                    <label for="id-name"><b>Name</b></label>
                    <input type="text" id="id-name" placeholder="Enter competition title" name="name" required>

                    <label for="started-at"><b>Started at</b></label>
                    <input type="date" id="started-at" name="started_at" required>

                    <label for="logo"><b>Logo</b></label>
                    <input type="file" name="logo" required class="logo-input">

                    {% for field in widget %}
                        <label for="{{ field.name }}"><b>{{ field.label }}</b></label>
                        {{ field }}
                    {% endfor %}

                    <label for="count-distances"><b>Count distances</b></label>
                    <select id="count-distances">
                        {% for i in range %}
                            <option value="{{ i|add:1 }}">{{ i|add:1 }}</option>
                        {% endfor %}
                    </select>

                    <label for="description"><b>Description</b></label>
                    <textarea class="textarea-team" id="description" name="description" required></textarea>

                    <div class="clearfix">
                        <button onclick="location.href='/'" type="button" class="button button-small">Back</button>
                        <input type='submit' class="button button-small" value="Create">
                    </div>
                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                    {% if status %}
                        <p class="success">Success</p>
                    {% endif %}
                </div>

                <div class="span4 profile distances">
                    <ul>
                        {% for i in range %}
                            <li style="border-bottom: 1px solid #3e3d41; margin-bottom: 20px;
                                    {% if i != 0 %} display: none; {% endif %}" id="distance-{{ i }}">
                                <p style="margin: 0;"><b>Distance №{{ i|add:1 }}</b></p>
                                <label for="id-length-{{ i }}">Length</label>
                                <input type="number" id="id-length-{{ i }}" name="length_{{ i }}" required>
                                <label for="id-type-{{ i }}">Distance type</label>
                                <select name="type_{{ i }}" id="id-type-{{ i }}" required>
                                    {% for type in types %}
                                        <option value="{{ type.0 }}">{{ type.1 }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

