{% extends 'core/index.html' %}
{% load i18n %}
{% load static %}

{% block slider %}
{% endblock %}
{% block nav %}
    {% with 'register_on_competition' as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block profile %}
{% endblock %}
{% block contact %}
{% endblock %}

{% block content %}
    <div id="about" class="page-alternate">
        <div class="container">
            <h1 class="title">{% trans 'Register on competition' %}</h1>
            <h2 class="title">{{ day }}</h2>
            <p class="title-description">{% trans 'Please fill distances in which u want to take a part.' %}</p>

            <div class="row">

                <form method="post">{% csrf_token %}
                    <div class="span4 profile distances">

                        <ul>
                            {% for distance in distances %}

                                <li style="border-bottom: 1px solid #3e3d41; margin-bottom: 20px;">
                                    <h4 style="margin: 0;"><b>{% trans 'Distance' %} №{{ forloop.counter0|add:1 }}</b>
                                    </h4>
                                    <label for="id-length-{{ forloop.counter0 }}">{% trans 'Distance length' %}</label>
                                    <input type="text" id="id-length-{{ forloop.counter0 }}"
                                           value="{{ distance.length }}"
                                           disabled>
                                    <input hidden name="distance_id_{{ forloop.counter0 }}" value="{{ distance.pk }}">
                                    <label for="id-type-{{ forloop.counter0 }}">{% trans 'Distance type' %}</label>
                                    <select id="id-type-{{ forloop.counter0 }}" disabled>
                                        {% for type in types %}
                                            <option value="{{ type.0 }}"
                                                    {% if type.0 == distance.type %} selected {% endif %}
                                            >{{ type.1 }}</option>
                                        {% endfor %}
                                    </select>

                                    <label for="id-time-{{ forloop.counter0 }}">{% trans 'Prediction time' %}</label>
                                    <input class="mytime" type="text" name="time_{{ forloop.counter0 }}"
                                           id="id-time-{{ forloop.counter0 }}">
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="clearfix">
                            <button onclick="location.href='/'" type="button"
                                    class="button button-small">{% trans 'Back' %}</button>
                            <input type='submit' class="button button-small" value="{% trans 'Register' %}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

    <script src="{% static "js/inputmask/dist/jquery.inputmask.bundle.js" %}"></script>
    <script src="{% static "js/inputmask/dist/inputmask/inputmask.extensions.js" %}"></script>
    <script src="{% static "js/inputmask/dist/inputmask/inputmask.numeric.extensions.js" %}"></script>
    <script>
        $('.mytime').inputmask('99:99:99');
    </script>
{% endblock %}


