{% extends 'core/index.html' %}
{% load static %}

{% block slider %}
{% endblock %}
{% block nav %}
    {% with 'team' as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block content %}
{% endblock %}
{% block contact %}
{% endblock %}

{% block profile %}
    <div id="about" class="page-alternate">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">{{ curr_team.name }}</h2>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->

            <!-- People -->
            <div class="row">

                <!-- Start Profile -->
                <div class="span4 profile">
                    <div class="image-wrap">
                        {% if is_coach %}
                            <div class="hover-wrap">
                                <span class="overlay-img"></span>
                                <span class="overlay-text-thumb">Change photo</span>
                                <input type="file" class="avatar-input" hidden name="avatar">
                            </div>
                        {% endif %}
                        <img src="{{ curr_team.logo.url }}" alt="John Doe">
                    </div>
                </div>
                <!-- End Profile -->

                <!-- Start Profile -->
                <div class="span4 profile">
                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                    {% if is_coach %}
                        {% if error %}
                            <p class="error">{{ error }}</p>
                        {% endif %}
                        <form method="post" action="/core/team/{{ curr_team.name }}">{% csrf_token %}
                            <label class="profile-description">Team name:</label>
                            <input name="city" value="{{ curr_team.name }}">

                            <label class="profile-description">Count members: {{ team_rel_users|length }}</label>
                            <label class="profile-description">Count competitions: {{ competitions|length }}</label>
                            <label class="profile-description">Created
                                at: {{ curr_team.created_at|default:"Empty" }}</label>

                            <label class="profile-description">Description:</label>
                            <textarea name="description" class="textarea-team">{{ curr_team.description }}</textarea>
                            <div class="clearfix">
                                <input type='submit' class="button button-small" value="Save">
                            </div>
                        </form>
                        <a href="/core/users" class="button button-small">Find new members</a>

                    {% else %}
                        <label class="profile-description">Team name: {{ curr_team.name|default:"Empty" }}</label>
                        <label class="profile-description">Count members: {{ team_rel_users|length }}</label>
                        <label class="profile-description">Count
                            competitions: {{ competitions_count|default:"0" }}</label>
                        <label class="profile-description">Created
                            at: {{ curr_team.created_at|default:"Empty" }}</label>
                        <label class="profile-description">Description:</label>
                        <p>{{ curr_team.description }}</p>
                        <label id="curr-team-id" style="visibility: hidden;">{{ curr_team.pk }}</label>
                    {% endif %}
                </div>

                <div class="span4 profile">

                    <h3 class="spec">Members</h3>

                    <div class="info-block">
                        <div class="info-text">
                            <ol class="member">
                                {% for team_user in team_rel_users %}
                                    {% if is_coach and team_user.user != user %}
                                        <li class="invitations"><a class="team-name"
                                                                   href="/core/user/{{ team_user.user.pk }}">{{ team_user.user.get_full_name }}</a>
                                            <button class="button-decline">KICK</button>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="/core/user/{{ team_user.user.pk }}">{{ team_user.user.get_full_name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- End Profile -->

                <!-- Start Profile -->
                <div class="span4 profile"> <!--
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Lead Designer</span>
                </div>
                <img src="_include/img/profile/profile-03.jpg" alt="Joshua Insanus">
            </div>
            <h3 class="profile-name">Joshua Insanus</h3>
            <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

            <div class="social">
            	<ul class="social-icons">
                	<li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-linkedin"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-google-plus"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-vimeo"></i></a></li>
                </ul>
            </div>
        </div> -->
                    <!-- End Profile -->

                </div>
                <!-- End People -->
            </div>
        </div>
    </div>
{% endblock %}