{% extends 'core/index.html' %}
{% load i18n %}
{% load static %}

{% block slider %}
{% endblock %}
{% block nav %}
    {% with 'user_list' as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block content %}
{% endblock %}
{% block contact %}
{% endblock %}

{% block profile %}
    <div id="about" class="page-alternate">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">{% trans 'User list' %}</h2>
                        <h3 class="title-description">{% trans 'User Search' %}</h3>
                    </div>
                    <label for="input-find-user">{% trans 'Find user' %}</label>
                    <div class="inline search-div">
                        <input id="input-find-user" type="text">
                        <button id="button-find-user" class="button button-very-small">{% trans 'Search' %}</button>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->

            <!-- People -->
            <div class="userlist">

                <!-- Start Profile -->

                <table id="users-list" style="width:100%">
                    <tr>
                        <th class="th_first">{% trans 'Name' %}</th>
                        <th>{% trans 'Location' %}</th>
                    </tr>
                    {% for curr_user in users %}
                        <tr class="table-content">
                            <td><a href="/core/user/{{ curr_user.pk }}">{{ curr_user.get_full_name }}</a></td>
                            <td class="td_second">{{ curr_user.profile.city }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- End Profile -->
        </div>
        <!-- End People -->
        <div class="pagination">
            <div id="pag-left">
                {% if users.has_previous %}
                    <a class="button button-small first-page" href="?page=1">&laquo; {% trans 'first' %}</a>
                    <a class="button button-small" href="?page={{ users.previous_page_number }}">{% trans 'previous' %}</a>
                {% endif %}
            </div>

            <div class="current">
                {% trans 'Page' %} {{ users.number }} {% trans 'of' %} {{ users.paginator.num_pages }}
            </div>

            <div id="pag-right">
                    {% if users.has_next %}
                        <a class="button button-small" href="?page={{ users.next_page_number }}">{% trans 'next' %}</a>
                        <a class="button button-small last-page" href="?page={{ users.paginator.num_pages }}">{% trans 'last' %} &raquo;</a>
                    {% endif %}
            </div>
        </div>
    </div>

{% endblock %}