{% extends 'core/index.html' %}
{% load static %}

{% block slider %}
{% endblock %}
{% block nav %}
    {% with 'profile' as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block content %}
{% endblock %}
{% block contact %}
{% endblock %}

{% block profile %}
    <script type="text/javascript" src="{% static 'js/qrcode.js' %}"></script>
    <div id="about" class="page-alternate">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">Profile</h2>
                        <h3 class="title-description">{{ curr_user.get_full_name }}</h3>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->

            <!-- People -->
            <div class="row">

                <!-- Start Profile -->
                <div class="span4 profile">
                    <div class="image-wrap">
                        <img src="{{ curr_user.profile.avatar.url }}" alt="John Doe">
                    </div>
                    <h3 class="profile-name">{{ curr_user.email }}</h3>
                    <p class="profile-description"></p>

                    <div class="social">
                        <ul class="social-icons">
                            <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                            <li><a href="#"><i class="font-icon-social-dribbble"></i></a></li>
                            <li><a href="#"><i class="font-icon-social-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="span4 profile">
                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                    <label class="profile-description">City: {{ curr_user.profile.city|default:"Empty" }}</label>
                    <label class="profile-description">Gender: {{ curr_gender|default:"Empty" }}</label>
                    <label class="profile-description">Phone
                        number: {{ curr_user.profile.phone_number|default:"Empty" }}</label>
                    <label class="profile-description">Birth
                        date: {{ curr_user.profile.birth_date|default:"Empty" }}</label>
                    <label id="curr-user-id" style="visibility: hidden;">{{ curr_user.pk }}</label>
                    {% if is_teamlead %}
                        <button id="send-invitation" type="button" class="button button-small">Send invitation</button>
                    {% endif %}
                </div>

                <div class="span4 profile">

                    <h3 class="spec">QR profile</h3>

                    <div class="info-block">
                        <div class="info-text">
                            <div class="image-wrap" id="qr_code">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Profile -->

                <!-- Start Profile -->
                <div class="span4 profile"> <!--
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Lead Designer</span>
                </div>
                <img src="_include/img/profile/profile-03.jpg" alt="Joshua Insanus">
            </div>
            <h3 class="profile-name">Joshua Insanus</h3>
            <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

            <div class="social">
            	<ul class="social-icons">
                	<li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-linkedin"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-google-plus"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-vimeo"></i></a></li>
                </ul>
            </div>
        </div> -->
                    <!-- End Profile -->

                </div>
                <!-- End People -->
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var qrcode = new QRCode(document.getElementById("qr_code"), {
            width: 500,
            height: 500
        });

        function makeCode() {
            var elText = "{{ site }}/core/user/{{ curr_user.pk }}";

            qrcode.makeCode(elText);
        }

        makeCode();
    </script>
{% endblock %}